/* body {
    overflow-x: hidden;
} */

.meal-types {
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 100px;
}

.meal-type {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 22%;
    font-weight: bold;
    border-style: solid;
}

.meal {
    margin-bottom: 400px;
    height: 90%;
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    line-height: 700px;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.meal:hover {
    transform: scale(1.1);
}

#breakfast-meal {
    width: 100%;
    height: 1500px;
}
#lunch-meal {
    width: 100%;
    height: 1500px;
}
#dinner-meal {
    width: 100%;
    height: 1500px;
}

:target {
    animation: highlight 1500ms ease;  
    transform: translateX(20px);     
}

@keyframes highlight {
    0% { border-left-color: red; }
    100% { border-left-color: white; }
    }
section > div {
    border-left: 40px solid white;
    transition: all 0.5s ease;     
    margin-left: -20px;    
}


.scrollTop {
    position: fixed; 
    width: 100%;
    bottom: 20px;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
}

.scrollTop:hover{
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

.scrollTop {
    width: 100%;
}

.order-ahead-page {
    display: flex;
    width: 100%;
    height: auto;
}

.right-sidebar {
    width: 300px;
    height: 500px;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    top: 25%;
    right: 0;

    position: fixed;
}

.right-sidebar-inactive {
    display: none;
}

#breakfast-meal {
    width: 80%;
    height: auto;
}

#lunch-meal {
    width: 80%;
    height: auto;
}

#dinner-meal {
    width: 80%;
    height: auto;
}
section {
    height: auto;
    width: 99%;
}


