.attention-unclicked {
    height: auto;
    width: auto;
    text-align: center;
}

.attention-prompt {
    background-color: #dcdcdc;
    justify-content: center;
    border-style: solid;
    width: 500px;
    height: 300px;
    margin-top: 100px;
    margin-left: 40%;
}

.prompt-x {
    width: 99%;
    margin-top: 5px;
    height: 30px;
    text-align: right;
}

.prompt-string {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 30px;
    font-weight: bold;
}

.prompt-bottom {
    margin-top: 5%;
    font-size: 20px;
}

.ordernow-top {
    /* border-style: solid; */
    margin-top: 100px;
    width: 100%;
    height: 41%;
    object-fit: contain;
    z-index: -1;
    position: relative;
}


.ordernow-top-date {
    /* text-align: center; */
    /* border-style: solid; */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

.ordernow-date-and-day {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 100px;
}

.ordernow-date {
    font-size: 100px;
    margin-left: 50px;
}

.ordernow-day {
    font-size: 50px;
    margin-left: 10px;
    margin-top: 40px;
}

.ordernow-time {
    font-size: 140px;
    margin-left: 100px;
}

.lunch-ordernow-top-date {
    width: 30%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
}

.lunch-ordernow-date-and-day {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 100px;
}

.lunch-ordernow-date {
    font-size: 100px;
    margin-left: 50px;
}

.lunch-ordernow-day {
    font-size: 50px;
    margin-left: 10px;
    margin-top: 40px;
}

.lunch-ordernow-time {
    font-size: 140px;
    margin-left: 100px;
}

.meal-pic {
    position: relative;               
    opacity: 0;
    animation: pic-load 5000ms;
    animation-fill-mode: forwards;
    background: #fff;
}

.dropdown-menu {
    height: 400px;
    width: 200px;
    transform: translate(-31%, -3%);
    position: absolute;
    list-style: none;
    text-align: start;
    background-color: #DCDCDC;
    z-index: 9999;

  }



.breakfast-ordernow-top-date {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.breakfast-ordernow-date {
    font-size: 100px;
    margin-left: 50px;
}

.breakfast-ordernow-day {
    font-size: 50px;
    margin-left: 10px;
    margin-top: 40px;
}

.breakfast-ordernow-time {
    font-size: 120px;
    margin-left: 100px;
}

@keyframes pic-load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.timeout-time {
    width: 35%;
    height: auto;
    margin-left: 35%;
}


