.top-welcome {
    width: 100%;
    height: 30vh;
    text-align: center;
    z-index: 0;
    position: absolute;
}

.welcome-city {
    position: relative;
    z-index: 1;
    height: 30vh;
    width: 100%;
    text-align: center;
    font-size: 300px;
    font-weight: bold;
    color: wheat;
    opacity: .75;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-hospital {
    /* position: absolute; */
    margin-top: 1%;
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    width: 100%;
    text-align: center;
}

.order-buttons {
    width: 100%;
    margin-top: 11%;
    display: flex;
    justify-content: center;
}

.order-button-left {
    margin-right: 50px;
}

.order-button-right {
    margin-left: 50px;
}

.welcome-bottom {
    margin-top: 10%;
    text-align: center;
}


