.item-card {
    margin-left: 10px;
    border-bottom-style: dashed;
    border-width: thin;
    padding: 10px 0 10px 0;
    display: flex;
}

.meal-card-name {
    font-size: 16px;
}

.meal-card-icon {
    margin-top: 10px;
}



.cart-container-top {
    border-bottom-style: solid;
    border-width: thin;
    display: flex;
}

.cart-container-top-cart {
    font-size: 30px;
    margin-left: 32%;
}

.accordion {
    text-align: center;
    overflow-y: hidden;
    transform: translateX(0%);
    transition: 0.5s;
}

.accordion-inactive {
    animation: moveSidebar 500ms ease;
    transform: translateX(60%);
    transition: 0.5s;
}

.contentBx {
    position: relative;
}


.content {
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.content-active {
    transition: 0.5s;
    height: 150px;
    padding: 10px;
    overflow-y: scroll;
}

.content-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.cart-icon {
    margin-top: 6px;
    cursor: pointer;
}

.go-to-cart {
    border-style: solid;
    background-color: #6D6D6C;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.go-to-cart:hover {
    background-color: #080155
}

.cart-meal-combined {
    width: 80%;
    height: auto;
    /* border-style: solid; */
    margin-top: 7%;
    margin-left: 10%;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}

.incart-meal-now {
    border-style: solid;
    width: 100%;
    height: 800px;
    overflow-x: scroll;
    overflow-y: hidden;
}


.incart-meal-ahead {
    border-style: solid;
    width: 100%;
    height: 800px;
    overflow-x: scroll;
    overflow-y: hidden;
}


.incart-header {
    font-size: 75px;
    margin-top: 50px;
    text-align: center;
}

.incart-radio-option {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #D3D3D3;
    justify-content: center;
    line-height: 50px;
}

.radio {
    padding: 0 50px 0 0;
}

.incart-image-container {
    margin-left: 8%;
    width: 350px;
    margin-top: 30px;
    height: 350px;
}

.incart-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.incart-meal-container {
    margin-left: 40px;
    display: flex;
}

.incart-meal-card {
    width: 25%;
    height: 90%;
}

.incart-meal-name {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    width: 80%;
    height: 120px;
}

.incart-buttons {
    width: 80%;
    text-align: center;
}

.incart-meal-calories {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    width: 80%;
    margin-bottom: 30px;
}

.incart-calories-sum {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}


