@mixin widthAndAlign {
    text-align: center;
    width: 100%;
}

@mixin buttonStyle {
    padding: 12px 36px 12px 36px;
    color: #fff;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 1.3vw;
    letter-spacing: 2px;
    cursor: pointer;
    // width: 15vw;
    height: 100%;
    // text-align: center;
}