.order-ahead-container {
    display: flex;
    height: 100%;
    width: 100%;
}


.breakfast-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;

}

.left-sidebar {
    height:500px;
    width: 20%;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
}

.left-sidebar-ul {
    list-style: none;
}

.left-sidebar li {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    height: 10%;
    width: 100%;
    cursor: pointer;
}

.left-sidebar li:nth-child(1) {
    margin-top: 15px;
}

.meal-card {
    cursor: pointer;
    margin-left: 70px;
    text-align: center;
}

.meal-card-image {
    /* border-style:solid; */
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.meal-card-image:hover {
    transform: scale(1.05)
}

.meal-card-container {
    margin-top: 15px;
    height: auto;
    width: 100%;
    justify-self: center;
}

.meal-card-name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    margin-left: 20%;
    margin-right: 20%;
}

.product-container {
    width: 100%;
    height: 100vh;
    margin-top: 200px;
}

.product-container-card {
    width: 100%;
    height: auto;
    display: flex;
}

.product-image-container {
    width: 350px;
    margin-left: 20%;
    margin-top: 100px;
    height: 350px;
}

.product-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.product-details {
    width: 40%;
    margin-left: 10%;
    height: 50%;
}

.product-name {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.product-description {
    width: 80%;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.product-ingredient-container {
    text-align: center;
    margin-top: 100px;
    font-size: 45px;
    font-weight: bolder;
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.ingredient-container{
    grid-template-columns: repeat(6, 1fr);
    margin-top: 50px;
    display: flex;
    overflow-x: scroll;
    width: 75%;
    height: auto;
    margin-left: 200px;
}

.ingredient-card {
    margin-right: 50px;
    height: auto;
}

.ingredient-card-image {
    height: 50%;
    width: 100%;
}

.ingredient-card-name {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    height: 35%;
    margin-top: 5px;
}

.ingredient-card-amount {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.product-nutrition-container {
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F8F7  ;
    margin-top: 150px;

}

.product-blank {
    width: 100%;
    height: 150px;
}

.product-nutrition-top {
    width: 100%;
    height: 100px;
}

.nutrition-container {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 0 150px 0;
    margin-left: 18%;
    grid-row-gap: 10px;
}

.nutrition-card {
    display: flex;
    font-size: 25px;
    border-bottom-style: dotted;
    border-width: thin;
    width: 75%;
    justify-content: space-between;
}

.view-summary-container {
    margin-left: 15%;
    width: 70%;
    padding: 20px 0 20px 0;
    display: flex;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin; 
    height: auto;
    justify-content: space-between;
    cursor: pointer;
}

.view-summary {
    height: 50px;
    width: auto;
    
}

.view-summary-icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}