.sidebar-div {
    width: 300px;
    height: 500px;
    border-right-style: solid;
    border-right-width: thin;
    background-color: #e9e9e9;
    transform: translate(0, 30%);
    /* margin-top: 50px; */
    border-top-style: solid;
    border-bottom-style: solid;
}

.sidebar-ul {
    text-align: center;
    height: 100%;
    margin-top: 35px;
}

.sidebar-ul li{
    height: 16%;
    /* padding: 20px 0 20px 0; */
    /* border-bottom-style: dashed; */
    cursor: pointer;
}

.sidebar-ul li a {
    text-decoration: none;
    color: black;
}

.diet-container {
    display: flex;
}

.diet-div {
    height: 50%;
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translate(30%, 40%);
}

.diet-container {
    display: flex;
}

.diet-div-top {
    font-size: 30px;
    text-align: center;
    padding: 50px 0 50px 0;
}
